{
  "http_interactions": [
    {
      "recorded_at": "2018-01-29T03:01:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/account/login"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\n<!DOCTYPE html>\n<!--[if lt IE 7]>      <html class=\"no-js lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->\n<!--[if IE 7]>         <html class=\"no-js lt-ie9 lt-ie8\"> <![endif]-->\n<!--[if IE 8]>         <html class=\"no-js lt-ie9\"> <![endif]-->\n<!--[if gt IE 8]><!-->\n<html class=\"no-js\">\n<!--<![endif]-->\n<head>\n    <meta charset=\"utf-8\" />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n    <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/apple-touch-icon.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/favicon-32x32.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/favicon-16x16.png\">\n    <link rel=\"manifest\" href=\"/manifest.json\">\n    <link rel=\"mask-icon\" href=\"/safari-pinned-tab.svg\" color=\"#02874D\">\n    <link rel=\"shortcut icon\" href=\"/favicon.ico\">\n    <meta name=\"msapplication-config\" content=\"/browserconfig.xml\">\n    <meta name=\"theme-color\" content=\"#ffffff\">\n    <title>\nLog In to Geocaching</title>\n    \n<meta name=\"description\" content=\"Geocaching is a treasure hunting game where you use a GPS to hide and seek containers with other participants in the activity. Geocaching.com is the listing service for geocaches around the world.\">\n<meta name=\"keywords\" content=\"geocaching,geocaching app,adventure,outdoor,gps,hiking,camping,explore,nature,outdoor geocaching,geocaching outdoor,outdoor geocaching app,geocaching app outdoor,outdoor adventure,adventure [...]
    {
      "recorded_at": "2018-01-29T03:01:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "Username=<USERNAME>&Password=<PASSWORD>&__RequestVerificationToken=xzLKl7ANsOFqTvNxJIV3cxirsJn0LXs4qJVCMI246gR9Cxo6hKEsph4Fu08XAPL931rRihmpjMVganKULzpBZxVTzsM1"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.geocaching.com/account/login"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<html><head><title>Object moved</title></head><body>\r\n<h2>Object moved to <a href=\"/play/search\">here</a>.</h2>\r\n</body></html>\r\n"
        },
        "headers": {
          "Content-Type": "text/html; charset=utf-8",
          "Location": "/play/search"
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "https://www.geocaching.com/account/login"
      }
    },
    {
      "recorded_at": "2018-01-29T03:01:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/play/search"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\n<!DOCTYPE html>\n<!--[if lt IE 7]>      <html class=\"no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->\n<!--[if IE 7]>         <html[...]
    {
      "recorded_at": "2018-01-29T03:01:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/seek/cache_details.aspx?wp=GC1PAR2"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<html><head><title>Object moved</title></head><body>\r\n<h2>Object moved to <a href=\"https://www.geocaching.com/geocache/GC1PAR2_kostel-panny-marie-ruzencove\">here</a>.</h2>\r\n</body></html>\r\n"
        },
        "headers": {
          "Content-Type": "text/html; charset=utf-8",
          "Location": "https://www.geocaching.com/geocache/GC1PAR2_kostel-panny-marie-ruzencove"
        },
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "url": "https://www.geocaching.com/seek/cache_details.aspx?wp=GC1PAR2"
      }
    },
    {
      "recorded_at": "2018-01-29T03:01:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/geocache/GC1PAR2_kostel-panny-marie-ruzencove"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\r\n\r\n<!DOCTYPE html>\r\n<html lang=\"en\" class=\"no-js\">\r\n<head id=\"ctl00_Head1\"><meta charse[...]
