{
  "http_interactions": [
    {
      "recorded_at": "2022-08-25T19:41:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "http://tiles01.geocaching.com/map.details?i=GC8CKQQ"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Location": [
            "https://tiles01.geocaching.com/map.details?i=GC8CKQQ"
          ]
        },
        "status": {
          "code": 302,
          "message": "Moved Temporarily"
        },
        "url": "http://tiles01.geocaching.com/map.details?i=GC8CKQQ"
      }
    },
    {
      "recorded_at": "2022-08-25T19:41:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://tiles01.geocaching.com/map.details?i=GC8CKQQ"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"status\":\"success\",\"data\":[{\"name\":\"Kohinoorka\",\"gc\":\"GC8CKQQ\",\"g\":\"0a786802-1a56-4c25-b52e-51e064ada861\",\"available\":true,\"archived\":false,\"subrOnly\":false,\"li\":false,\"fp\":\"15\",\"difficulty\":{\"text\":2.0,\"value\":\"2\"},\"terrain\":{\"text\":2.0,\"value\":\"2\"},\"hidden\":\"8/24/2019\",\"container\":{\"text\":\"Small\",\"value\":\"small.gif\"},\"type\":{\"text\":\"Traditional Cache\",\"value\":2},\"owner\":{\"text\":\"haj\u00edci\",\"value\":\"d9b10451-f71d-4d5a-be1d-7864fa92fdf0\"}}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://tiles01.geocaching.com/map.details?i=GC8CKQQ"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}