{
  "http_interactions": [
    {
      "recorded_at": "2021-11-14T01:36:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "http://tiles01.geocaching.com/map.details?i=GC123456"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Location": [
            "https://tiles01.geocaching.com/map.details?i=GC123456"
          ]
        },
        "status": {
          "code": 302,
          "message": "Moved Temporarily"
        },
        "url": "http://tiles01.geocaching.com/map.details?i=GC123456"
      }
    },
    {
      "recorded_at": "2021-11-14T01:36:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://tiles01.geocaching.com/map.details?i=GC123456"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"status\":\"success\",\"data\":[]}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://tiles01.geocaching.com/map.details?i=GC123456"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}