{
  "http_interactions": [
    {
      "recorded_at": "2022-02-22T16:26:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/play/geocache/gc1par2/log"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\n\n\n<!DOCTYPE html>\n<html class=\"no-js\" lang=\"en-US\">\n<head>\n    <script id=\"Cookiebot\" src=\"https://consent.cookiebot.com/uc.js\" data-cbid=\"1abe029a-a5e6-4587-acc9-7ef16e95bfa1\" data-blockingmode=\"auto\" type=\"text/javascript\"></script>\n    <meta charset=\"utf-8\" />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n    <meta name=\"HandheldFriendly\" content=\"True\">\n    <meta name=\"MobileOptimized\" content=\"320\">\n    <meta http-equiv=\"cleartype\" content=\"on\">\n    <title>Geocaching - New Log for Kostel Panny Marie Ruzencove</title>\n    \n<meta name=\"robots\" content=\"NOODP\">\n<meta name=\"description\" content=\"There are millions of geocaches hidden around the world&#8212;there are probably some near you right now. Get the free Official Geocaching app and start finding them.\">\n<meta name=\"keywords\" content=\"geocaching,geocaching app,adventure,outdoor,gps,hiking,camping,explore,nature,outdoor geocaching,geocaching outdoor,outdoor geocaching app,geocachi[...]
