{
  "http_interactions": [
    {
      "recorded_at": "2018-10-14T08:35:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "http://tiles01.geocaching.com/map.details?i=GC4808G"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Location": [
            "https://tiles01.geocaching.com/map.details?i=GC4808G"
          ]
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "http://tiles01.geocaching.com/map.details?i=GC4808G"
      }
    },
    {
      "recorded_at": "2018-10-14T08:35:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://tiles01.geocaching.com/map.details?i=GC4808G"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"status\":\"success\",\"data\":[{\"name\":\"Nekonecne ticho\",\"gc\":\"GC4808G\",\"g\":\"15ad3a3d-92c1-4f7c-b273-60937bcc2072\",\"available\":false,\"archived\":true,\"subrOnly\":false,\"li\":false,\"fp\":\"23\",\"difficulty\":{\"text\":4.0,\"value\":\"4\"},\"terrain\":{\"text\":4.0,\"value\":\"4\"},\"hidden\":\"3/16/2013\",\"container\":{\"text\":\"Regular\",\"value\":\"regular.gif\"},\"type\":{\"text\":\"Unknown Cache\",\"value\":8},\"owner\":{\"text\":\"Bifurka\u010dn\u00ed t\u00fdm\",\"value\":\"82328e69-b837-42f5-b424-ae9a84152c77\"}}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://tiles01.geocaching.com/map.details?i=GC4808G"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}