{
  "http_interactions": [
    {
      "recorded_at": "2022-08-26T21:33:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "http://tiles01.geocaching.com/map.details?i=GC9HJ2J"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Location": [
            "https://tiles01.geocaching.com/map.details?i=GC9HJ2J"
          ]
        },
        "status": {
          "code": 302,
          "message": "Moved Temporarily"
        },
        "url": "http://tiles01.geocaching.com/map.details?i=GC9HJ2J"
      }
    },
    {
      "recorded_at": "2022-08-26T21:33:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://tiles01.geocaching.com/map.details?i=GC9HJ2J"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"status\":\"success\",\"data\":[{\"name\":\"Tynsky chram\",\"gc\":\"GC9HJ2J\",\"g\":\"b4639768-628c-4f8a-93dc-b5bbd939ff25\",\"available\":true,\"archived\":false,\"subrOnly\":false,\"li\":false,\"fp\":\"102\",\"difficulty\":{\"text\":2.5,\"value\":\"2_5\"},\"terrain\":{\"text\":1.5,\"value\":\"1_5\"},\"hidden\":\"2/3/2022\",\"container\":{\"text\":\"Micro\",\"value\":\"micro.gif\"},\"type\":{\"text\":\"Traditional Cache\",\"value\":2},\"owner\":{\"text\":\"MiroslavRouta\",\"value\":\"bda0b96a-c3aa-40ed-b091-28c3e2483407\"}}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://tiles01.geocaching.com/map.details?i=GC9HJ2J"
      }
    },
    {
      "recorded_at": "2022-08-26T21:33:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/seek/cdpf.aspx?guid=b4639768-628c-4f8a-93dc-b5bbd939ff25"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\r\n<!DOCTYPE html>\r\n<html>\r\n<head>\r\n    <title id=\"pageTitle\">(GC9HJ2J) Tynsky chram by MiroslavRouta</title>\r\n    <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\r\n    <link rel=\"shortcut icon\" href=\"../favicon.ico\" />\r\n    <link rel=\"stylesheet\" href=\"/js/vendor/jquery-ui-1.12.1/jquery-ui.min.css\" type=\"text/css\" media=\"screen\" />\r\n        \r\n    <style type=\"text/css\" media=\"all\">\r\n        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre,\r\n        a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,\r\n        strike, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {\r\n            margin: 0;\r\n            padding: 0;\r\n            font-weight: inherit;\r\n            font-style: i[...]
