{
  "http_interactions": [
    {
      "recorded_at": "2018-10-14T08:35:20",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/geocode?q="
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\":\"failed\",\"msg\":\"Query was empty\",\"errMessage\":\"\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Execution-Time": [
            "00:00:00.0001020"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/geocode?q="
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}