{
  "http_interactions": [
    {
      "recorded_at": "2018-01-25T01:42:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/geocode?q=qwertzuiop"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\":\"failed\",\"msg\":\"Unable to Geocode\",\"errMessage\":\"\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Execution-Time": "00:00:00.1123257"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/geocode?q=qwertzuiop"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}