{
  "http_interactions": [
    {
      "recorded_at": "2018-02-12T06:56:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/geocode?q=Pilsen"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\":\"success\",\"data\":{\"q\":\"Pilsen\",\"lat\":49.74774,\"lng\":13.37752}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Execution-Time": "00:00:00.0293787"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/geocode?q=Pilsen"
      }
    },
    {
      "recorded_at": "2018-02-12T06:56:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/geocode?q=Plze%C5%88"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\":\"success\",\"data\":{\"q\":\"Plze\u0148\",\"lat\":49.74774,\"lng\":13.37752}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Execution-Time": "00:00:00.0299865"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/geocode?q=Plze%C5%88"
      }
    },
    {
      "recorded_at": "2018-02-12T06:56:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/geocode?q=plzen"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\":\"success\",\"data\":{\"q\":\"plzen\",\"lat\":49.74774,\"lng\":13.37752}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Execution-Time": "00:00:00.0302251"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/geocode?q=plzen"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}