{
  "http_interactions": [
    {
      "recorded_at": "2021-11-14T01:37:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/geocode?q=Prague"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\":\"success\",\"data\":{\"q\":\"Prague\",\"lat\":50.06694,\"lng\":14.46025}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Execution-Time": [
            "00:00:00.0241312"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/geocode?q=Prague"
      }
    },
    {
      "recorded_at": "2021-11-14T01:37:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/geocode?q=Praha"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\":\"success\",\"data\":{\"q\":\"Praha\",\"lat\":50.06694,\"lng\":14.46025}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Execution-Time": [
            "00:00:00.0232100"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/geocode?q=Praha"
      }
    },
    {
      "recorded_at": "2021-11-14T01:37:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/geocode?q=praha"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\":\"success\",\"data\":{\"q\":\"praha\",\"lat\":50.06694,\"lng\":14.46025}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Execution-Time": [
            "00:00:00.0225303"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/geocode?q=praha"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}