{
  "http_interactions": [
    {
      "recorded_at": "2018-01-29T03:01:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "http://tiles01.geocaching.com/map.info?x=8800&y=5574&z=14"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Location": "https://tiles01.geocaching.com/map.info?x=8800&y=5574&z=14"
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "http://tiles01.geocaching.com/map.info?x=8800&y=5574&z=14"
      }
    },
    {
      "recorded_at": "2018-01-29T03:01:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://tiles01.geocaching.com/map.info?x=8800&y=5574&z=14"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"grid\":[\"                                                     !#$%&'     \",\"                                                     ()*+,-     \",\"                                                     ./0123     \",\"                                           456789    :;<=>?     \",\"                                           @ABCDE    FGHIJK     \",\"                                           LMNOPQ    RSTUVW     \",\"                                           XYZ[]^_`abc          \",\"              [...]
    {
      "recorded_at": "2018-01-29T03:01:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "http://tiles01.geocaching.com/map.png?x=8800&y=5574&z=14"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Location": "https://tiles01.geocaching.com/map.png?x=8800&y=5574&z=14"
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "http://tiles01.geocaching.com/map.png?x=8800&y=5574&z=14"
      }
    },
    {
      "recorded_at": "2018-01-29T03:01:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://tiles01.geocaching.com/map.png?x=8800&y=5574&z=14"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "\ufffdPNG\r\n\u001a\n\u0000\u0000\u0000\rIHDR\u0000\u0000\u0001\u0000\u0000\u0000\u0001\u0000\b\u0006\u0000\u0000\u0000\[...]
[...]
