{
  "http_interactions": [
    {
      "recorded_at": "2021-11-14T01:38:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=0&sort=datelastvisited"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"results\":[{\"id\":8439816,\"name\":\"GIFF v Usti 2021\",\"code\":\"GC9J342\",\"premiumOnly\":false,\"favoritePoints\":0,\"geocacheType\":6,\"containerType\":6,\"difficulty\":1.0,\"terrain\":1.5,\"userFound\":false,\"userDidNotFind\":false,\"cacheStatus\":0,\"postedCoordinates\":{\"latitude\":50.665833,\"longitude\":14.04125},\"detailsUrl\":\"/geocache/GC9J342\",\"hasGeotour\":false,\"hasLogDraft\":false,\"placedDate\":\"2021-11-20T16:30:00\",\"owner\":{\"code\":\"PR3W09T\",\"username\":\"Sedmitecka\"},\"lastFoundDate\":\"0001-01-01T00:00:00\"}],\"total\":9250}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "CorrelationGuid": [
            "d2591c4f-fd9f-43f4-aef6-7fd5cc8534d7"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=0&sort=datelastvisited"
      }
    },
[...]
    {
      "recorded_at": "2021-11-14T01:38:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=9&sort=datelastvisited"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"statusCode\":429,\"statusMessage\":\"Too many requests\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "CorrelationGuid": [
            "4bdf1e24-5123-45da-bc5e-bce877bbd946"
          ],
          "x-rate-limit-reset": [
            "48"
          ]
        },
        "status": {
          "code": 429,
          "message": ""
        },
        "url": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=9&sort=datelastvisited"
      }
    },
[...]
