{
  "http_interactions": [
    {
      "recorded_at": "2018-08-25T08:27:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/geocode?q=Prague"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\":\"success\",\"data\":{\"q\":\"Prague\",\"lat\":50.08746,\"lng\":14.42125}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Execution-Time": [
            "00:00:00.0615121"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/geocode?q=Prague"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}