{
  "http_interactions": [
    {
      "recorded_at": "2021-05-01T23:29:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=0&sort=datelastvisited"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"results\":[{\"id\":8202256,\"name\":\"Polyporus\",\"code\":\"GC9A3XV\",\"premiumOnly\":false,\"favoritePoints\":0,\"geocacheType\":2,\"containerType\":8,\"difficulty\":1.5,\"terrain\":1.5,\"userFound\":false,\"userDidNotFind\":false,\"cacheStatus\":1,\"postedCoordinates\":{\"latitude\":50.10475,\"longitude\":14.3678333333333},\"detailsUrl\":\"/geocache/GC9A3XV\",\"hasGeotour\":false,\"hasLogDraft\":false,\"placedDate\":\"2021-04-25T00:00:00\",\"owner\":{\"code\":\"PRCJ9GJ\",\"username\":\"LudvikK\"},\"lastFoundDate\":\"0001-01-01T00:00:00\"}],\"total\":9011}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "CorrelationGuid": [
            "17336a61-fe83-41a6-9dcb-50e77540e510"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=0&sort=datelastvisited"
      }
    },
[...]
    {
      "recorded_at": "2021-05-01T23:29:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=10&sort=datelastvisited"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"statusCode\":429,\"statusMessage\":\"Too many requests\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "CorrelationGuid": [
            "3a220ab2-2205-4fbf-96a5-01b547f0ca8a"
          ],
          "x-rate-limit-reset": [
            "22"
          ]
        },
        "status": {
          "code": 429,
          "message": ""
        },
        "url": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=10&sort=datelastvisited"
      }
    },
[...]
