{
  "http_interactions": [
    {
      "recorded_at": "2020-06-08T19:26:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=0&sort=datelastvisited"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"results\":[{\"id\":7453707,\"name\":\"CITO podle pranostik - Maxim\",\"code\":\"GC8G003\",\"premiumOnly\":false,\"favoritePoints\":0,\"geocacheType\":13,\"containerType\":6,\"difficulty\":1.0,\"terrain\":3.0,\"userFound\":false,\"userDidNotFind\":false,\"cacheStatus\":0,\"postedCoordinates\":{\"latitude\":50.071967,\"longitude\":14.392633},\"detailsUrl\":\"/geocache/GC8G003\",\"hasGeotour\":false,\"hasLogDraft\":false,\"placedDate\":\"2020-06-10T17:30:00\",\"owner\":{\"code\":\"PR24GA1\",\"username\":\"taxoft\"},\"lastFoundDate\":\"0001-01-01T00:00:00\"}],\"total\":8657}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "CorrelationGuid": [
            "8842fad8-90ff-47c5-bde2-889d8022bca2"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=0&sort=datelastvisited"
      }
    },
[...]
    {
      "recorded_at": "2020-06-08T19:26:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=10&sort=datelastvisited"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"statusCode\":429,\"statusMessage\":\"Too many requests\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "CorrelationGuid": [
            "57ea9077-342d-40e2-8961-766b3c2afb06"
          ],
          "x-rate-limit-reset": [
            "20"
          ]
        },
        "status": {
          "code": 429,
          "message": ""
        },
        "url": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=10&sort=datelastvisited"
      }
    },
[...]
