{
  "http_interactions": [
    {
      "recorded_at": "2018-01-25T01:43:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/geocode?q=Pilsen"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\":\"success\",\"data\":{\"q\":\"Pilsen\",\"lat\":49.74774,\"lng\":13.37752}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=utf-8",
          "X-Execution-Time": "00:00:00.0306745"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/geocode?q=Pilsen"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}