{
  "http_interactions": [
    {
      "recorded_at": "2020-06-08T13:48:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/account/signin"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\n\n\n<!DOCTYPE html>\n<html class=\"no-js\" lang=\"en-US\">\n<head>\n        <script id=\"Cookiebot\" src=\"https://consent.cookiebot.com/uc.js\" data-cbid=\"1abe029a-a5e6-4587-acc9-7ef16e95bfa1\" data-blockingmode=\"auto\" type=\"text/javascript\"></script>\n    <meta charset=\"utf-8\" />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n    <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/apple-touch-icon.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/favicon-32x32.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/favicon-16x16.png\">\n    <link rel=\"manifest\" href=\"/manifest.json\">\n    <link rel=\"mask-icon\" href=\"/safari-pinned-tab.svg\" color=\"#02874D\">\n    <link rel=\"shortcut icon\" href=\"/favicon.ico\">\n    <meta name=\"msapplication-config\" content=\"/browserconfig.xml\">\n    <meta name=\"theme-color\" content=\"#ffffff\">\n    <title>\nGeocaching</title>\n    \n<meta name=\"description\" content=\"Geocaching is a treasure hunting game where you use a GPS to hide and seek containers with other participants in the activity. Geocaching.com is the listing service for geocaches around the world.\">\n<meta name=\"keywords\" content=\"geocaching,geocaching app,adventure,outdoor,gps,hiking,camping,explore,nature,outdoor geocaching,geocaching outdoor,outdoor geocaching app,geocaching app outdoor,outdoor adventure,adventure outdoor,ou[...]
    {
      "recorded_at": "2020-06-08T13:48:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "UsernameOrEmail=<USERNAME>&Password=<PASSWORD>&__RequestVerificationToken=jNx_vnRWPTNRGUx4bKc194VCwcqbAeF0rPGEg6TWIPnUc5zXLUpp-LVAbBkYZBYh64bjsF5rlvzp5dwy8e10D4vBCsM1"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.geocaching.com/account/signin"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<html><head><title>Object moved</title></head><body>\r\n<h2>Object moved to <a href=\"/play/search\">here</a>.</h2>\r\n</body></html>\r\n"
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ],
          "Location": [
            "/play/search"
          ]
        },
        "status": {
          "code": 302,
          "message": "Found"
        },
        "url": "https://www.geocaching.com/account/signin"
      }
    },
    {
      "recorded_at": "2020-06-08T13:48:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/play/search"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\n\n\n<!DOCTYPE html>\n<html class=\"no-js\" lang=\"en-US\">\n<head>\n    <script id=\"Cookiebot\" src=\"https://consent.cookiebot.com/uc.js\" data-cbid=\"1abe029a-a5e6-4587-acc9-7ef16e95bfa1\" data-blockingmode=\"auto\" type=\"text/javascript\"></script>\n    \n<script type=\"text/javascript\">\n    var dataLayer = [{\r\n  \"username\": \"<USERNAME>\",\r\n  \"accountId\": 22429931,\r\n  \"membershipLevel\": \"Basic\",\r\n  \"signUpDate\": \"2018-02-11T14:00:25.56\",\r\n  \"membershipExpirationDate\": null,\r\n  \"findCount\": 1\r\n}];\n</script>\n    <meta charset=\"utf-8\" />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"HandheldFriendly\" content=\"True\">\n    <meta name=\"MobileOptimized\" content=\"320\">\n    <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n    <meta http-equiv=\"cleartype\" content=\"on\">\n    <title>Geocaching &#8211; Advanced Search: Find, filter and sort geocaches</title>\n     \n<meta name=\"robots\" content=\"NOODP\">\n<meta nam[...]
    {
      "recorded_at": "2020-06-08T13:48:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/proxy/web/search?box=49.74%2C13.38%2C49.73%2C13.39&take=50&asc=true&skip=0&sort=datelastvisited"
      },
      "response": {
        "body": {
          "base64_string": "H4sIAAAAAAAAA6pWKkotLs0pKVayiq5WykxRsjI0sjC1NDPQUcpLzE1VslLyzs9LTc5LVCgrTk3OUCgpSswtS8zKVNBVKMuvyi/LS1TSUUrOTwGpdHc2DImMdAcKFBSl5maW5vrn5VQqWaUl5hSn6iilJZblF2WWpAbkZ+aBrDPXUUpPzU9OTM5IDaksAOq3ABmUV5KYmZdaBBEx0lFKyUxLy0wGOhBokLEe0FUlqUVFQCVAd+qZ6iiVFqcWueWX5gHdDbUGJOKSmeKXX+KWiSQMtie4JLGkFGg10JiC/OKS1BTn/PyilMy8xJJUoGi1Uk5iSWZJKcgvJpZ65sbmBhbGOko5+XnpUFFDYz1jCwOTWqCzUoHuzCkOLcoB+lsf5g99RAhkJBa7p+aX5JcWwZ0AFPLJT3cpSkwrgYsV5CQmp6a4AB0ANMfIwMBS18BM18g4xMDACoyAJuWXA8MD5DpoKAcEmQYG+XkAZUBehUaSo49Ppr[...]
