{
  "http_interactions": [
    {
      "recorded_at": "2021-11-14T01:37:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=0&sort=datelastvisited"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"results\":[{\"id\":8398196,\"name\":\"Zem\u011b Kelt\u016f 1\",\"code\":\"GC9GNTF\",\"premiumOnly\":false,\"favoritePoints\":0,\"geocacheType\":8,\"containerType\":2,\"difficulty\":5.0,\"terrain\":5.0,\"userFound\":false,\"userDidNotFind\":false,\"cacheStatus\":0,\"postedCoordinates\":{\"latitude\":50.7063,\"longitude\":13.859133},\"detailsUrl\":\"/geocache/GC9GNTF\",\"hasGeotour\":false,\"hasLogDraft\":false,\"placedDate\":\"2021-09-24T00:00:00\",\"owner\":{\"code\":\"PR33HRK\",\"username\":\"oblac\"},\"lastFoundDate\":\"0001-01-01T00:00:00\"}],\"total\":9250}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "CorrelationGuid": [
            "8ac2d76e-8166-4b49-893f-8f96be64c160"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=0&sort=datelastvisited"
      }
    },
[...]
    {
      "recorded_at": "2021-11-14T01:37:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=10&sort=datelastvisited"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"statusCode\":429,\"statusMessage\":\"Too many requests\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "CorrelationGuid": [
            "67069742-ebb6-4aa0-ad0d-b505c6d35e90"
          ],
          "x-rate-limit-reset": [
            "35"
          ]
        },
        "status": {
          "code": 429,
          "message": ""
        },
        "url": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=10&sort=datelastvisited"
      }
    },
    {
      "recorded_at": "2021-11-14T01:38:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=10&sort=datelastvisited"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"results\":[{\"id\":8153625,\"name\":\"Hynkova krabice\",\"code\":\"GC98FA3\",\"premiumOnly\":false,\"favoritePoints\":0,\"geocacheType\":8,\"containerType\":8,\"difficulty\":5.0,\"terrain\":5.0,\"userFound\":false,\"userDidNotFind\":false,\"cacheStatus\":0,\"postedCoordinates\":{\"latitude\":50.60915,\"longitude\":14.075483},\"detailsUrl\":\"/geocache/GC98FA3\",\"hasGeotour\":false,\"hasLogDraft\":false,\"placedDate\":\"2021-03-31T00:00:00\",\"owner\":{\"code\":\"PR33HRK\",\"username\":\"oblac\"},\"lastFoundDate\":\"0001-01-01T00:00:00\"}],\"total\":9250}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "CorrelationGuid": [
            "3755e6cb-52aa-4e39-856d-372a31283fc8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.geocaching.com/api/proxy/web/search?box=50.74%2C13.38%2C49.73%2C14.4&take=1&asc=true&skip=10&sort=datelastvisited"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}