{
  "http_interactions": [
    {
      "recorded_at": "2018-01-25T01:43:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/account/login"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\n<!DOCTYPE html>\n<!--[if lt IE 7]>      <html class=\"no-js lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->\n<!--[if IE 7]>         <html class=\"no-js lt-ie9 lt-ie8\"> <![endif]-->\n<!--[if IE 8]>         <html class=\"no-js lt-ie9\"> <![endif]-->\n<!--[if gt IE 8]><!-->\n<html class=\"no-js\">\n<!--<![endif]-->\n<head>\n    <meta charset=\"utf-8\" />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n    <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/apple-touch-icon.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/favicon-32x32.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/favicon-16x16.png\">\n    <link rel=\"manifest\" href=\"/manifest.json\">\n    <link rel=\"mask-icon\" href=\"/safari-pinned-tab.svg\" color=\"#02874D\">\n    <link rel=\"shortcut icon\" href=\"/favicon.ico\">\n    <meta name=\"msapplication-config\" content=\"/browserconfig.xml\">\n    <meta name=\"theme-color\" content=\"#ffffff\">\n    <title>\nLog In to Geocaching</title>\n    \n<meta name=\"description\" content=\"Geocaching is a treasure hunting game where you use a GPS to hide and seek containers with other participants in the activity. Geocaching.com is the listing service for geocaches around the world.\">\n<meta name=\"keywords\" content=\"geocaching,geocaching app,adventure,outdoor,gps,hiking,camping,explore,nature,outdoor geocaching,geocaching outdoor,outdoor geocaching app,geocaching app outdoor,outdoor adventure,adventure [...]
    {
      "recorded_at": "2018-01-25T01:43:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "Username=0&Password=0&__RequestVerificationToken=dCulBERoGNWoDgKzzDrfV0ZUTKGGC9W4UIA_hUV3Cr1yknSL03qeZFuSn2u7p64lsIHepifXQK2jSkVz2UjPliBFLxM1"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.geocaching.com/account/login"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\n<!DOCTYPE html>\n<!--[if lt IE 7]>      <html class=\"no-js lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->\n<!--[if IE 7]>         <html class=\"no-js lt-ie9 lt-ie8\"> <![endif]-->\n<!--[if IE 8]>         <html class=\"no-js lt-ie9\"> <![endif]-->\n<!--[if gt IE 8]><!-->\n<htm[...]
