{
  "http_interactions": [
    {
      "recorded_at": "2018-10-14T08:36:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/kml/tbkml.aspx?tbguid=cff00ac4-f562-486e-b303-32b2d01ed386"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<kml xmlns=\"http://earth.google.com/kml/2.2\">\r\n\r\n<Document><Style id=\"tbTravelStyle\"><LineStyle>\r\n  <width>3</width>\r\n  <color>ff00ffff</color>\r\n</LineStyle><PolyStyle>\r\n  <color>ff00ffff</color>\r\n</PolyStyle></Style><name>Lilagul #2: SwedenHawk Geocoin</name><description><![CDATA[\r\nLilagul #2: SwedenHawk Geocoin has traveled 6386.19784428022 miles.]]></description><Folder><Style /><name>Travel Bug Stops (6386.19784428022 mile(s))</name><open>0</open><Placemark><name>GC3GAVQ</name><Point><coordinates>8.5327,51.2555,100 \r\n</coordinates></Point><Style>\r\n  <Icon>\r\n    <href>http://chart.apis.google.com/chart?chst=d_bubble_icon_text_small&amp;chld=location|bbT|1|FFFFFF|000000</href>\r\n  </Icon>\r\n</Style><description><![CDATA[]]></description><visibility>1</visibility></Placemark><Placemark><name>GC3GAVQ</name><Point><coordinates>8.5329,51.2553,100 \r\n</coordinates></Point><Style>\r\n  <Icon>\r\n    <href>http://chart.apis.google.com/chart?chst=d_bubble_icon_text_small&amp;chld=location|bbT|2|FFFFFF|000000</href>\r\n  </Icon>\r\n</Style><description><![CDATA[]]></description><visibility>1</visibility></Placemark><Placemark><name>GC27K7T</name><Point><coordinates>7.6448,51.8869,100 \r\n</coordinates></Point><Style>\r\n  <Icon>\r\n    <href>http:[...]
