{
  "http_interactions": [
    {
      "recorded_at": "2018-10-14T08:36:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/track/log.aspx?wid=cff00ac4-f562-486e-b303-32b2d01ed386"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\r\n\r\n<!DOCTYPE html>\r\n<html lang=\"en\" class=\"no-js\">\r\n<head id=\"ctl00_Head1\"><meta charset=\"utf-8\" /><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\" /><title>\r\n\tGeocaching - New Log for Lilagul #2: SwedenHawk Geocoin (SwedenHawk Geocoin)\r\n</title><meta name=\"DC.title\" content=\"Geocaching&#32;-&#32;The&#32;Official&#32;Global&#32;GPS&#32;Cache&#32;Hunt&#32;Site\" /><meta name=\"twitter:card\" content=\"summary_large_image\" /><meta name=\"twitter:title\" content=\"Geocaching:&#32;Join&#32;the&#32;world&#39;s&#32;largest&#32;treasure&#32;hunt.\" /><meta name=\"twitter:description\" content=\"There&#32;are&#32;millions&#32;of&#32;geocaches&#32;worldwide&#32;and&#32;probably&#32;even&#32;some&#32;near&#32;you&#32;right&#32;now.&#32;Visit&#32;Geocaching.com&#32;to&#32;see&#32;just&#32;how&#32;many&#32;geocaches&#32;are&#32;nearby&#32;and&#32;to&#32;get&#32;the&#32;free&#32;Official&#32;Geocaching&#32;app.\" /><meta name=\"twitter:image:src\" content=\"https://www.geocaching.com/play/Content/images/preview-lg.jpg\" /><link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/apple-touch-icon.png\" /><link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/favicon-32x32.png\" /><link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/favicon-16x16.png\" /><link rel=\"manifest\" href=\"/manifest.json\" /><link rel=\"mask-icon\" href=\"/safari-pinned-tab.svg\" color=\"#02874D\" /><link rel=\"shortcut&#32;icon\" href=\"/favicon.ico\" /><meta name=\"msapplication-config\" content=\"/browserconfig.xml\" /><meta [...]
