{
  "http_interactions": [
    {
      "recorded_at": "2021-11-14T01:40:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://www.geocaching.com/account/signin"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\n\n\n<!DOCTYPE html>\n<html class=\"no-js\" lang=\"en-US\">\n<head>\n        <script id=\"Cookiebot\" src=\"https://consent.cookiebot.com/uc.js\" data-cbid=\"1abe029a-a5e6-4587-acc9-7ef16e95bfa1\" data-blockingmode=\"auto\" type=\"text/javascript\"></script>\n    <meta charset=\"utf-8\" />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n    <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/apple-touch-icon.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/favicon-32x32.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/favicon-16x16.png\">\n    <link rel=\"manifest\" href=\"/manifest.json\">\n    <link rel=\"mask-icon\" href=\"/safari-pinned-tab.svg\" color=\"#02874D\">\n    <link rel=\"shortcut icon\" href=\"/favicon.ico\">\n    <meta name=\"msapplication-config\" content=\"/browserconfig.xml\">\n    <meta name=\"theme-color\" content=\"#ffffff\">\n    <title>\nGeocaching</title>\n    \n<meta name=\"description\" content=\"Geocaching is a treasure hunting game where you use a GPS to hide and seek containers with other participants in the activity. Geocaching.com is the listing service for geocaches around the world.\">\n<meta name=\"keywords\" content=\"geocaching,geocaching app,adventure,outdoor,gps,hiking,camping,explore,nature,outdoor geocaching,geocaching outdoor,outdoor geocaching app,geocaching app outdoor,outdoor adventure,adventure outdoor,ou[...]
    {
      "recorded_at": "2021-11-14T01:40:19",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "UsernameOrEmail=0&Password=0&__RequestVerificationToken=ugnWY5BUrcC4fH4jWOqx7-vztZmEugUqFUZVcN9YWhnQ8dugXvheCI6Q29Rn89Wx-fewHLun-uxdLhDgqMiIAQP9INo1"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.geocaching.com/account/signin"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "\n\n\n<!DOCTYPE html>\n<html class=\"no-js\" lang=\"en-US\">\n<head>\n        <script id=\"Cookiebot\" src=\"https://consent.cookiebot.com/uc.js\" data-cbid=\"1abe029a-a5e6-4587-acc9-7ef16e95bfa1\" data-blockingmode=\"auto\" type=\"text/javas[...]
